<%= form_with(model: provider, html: {class: "form-admin"}) do |form| %>
  <% if provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provider.errors.count, "error") %> prohibited this provider from being saved:</h2>
      <ul>
        <% provider.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-label-group">
    <%= form.label :name %><br />
    <%= form.text_field :name, autofocus: true, class: "form-control", required: true %>
  </div>

  <div class="form-label-group">
    <%= form.label :url %><br />
    <%= form.url_field :url, autofocus: true, class: "form-control", placeholder: I18n.t(:url_placeholder), required: true %>
  </div>

  <div class="form-label-group">
    <%= form.label :email %><br />
    <%= form.email_field :email, autofocus: true, autocomplete: "email", type: "email", class: "form-control", placeholder: I18n.t(:email_placeholder), required: true %>
  </div>

  <div class="form-label-group">
    <%= form.label :phone %><br />
    <%= form.telephone_field :phone, autofocus: true, autocomplete: "phone", class: "form-control", placeholder: I18n.t(:phone_placeholder), required: true %>
  </div>

  <div class="actions">
    <%= form.submit(class: "btn btn-lg btn-primary btn-block") %>
  </div>
<% end %>
