<p id="notice"><%= notice %></p>

<h1><%= t :providers %></h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t :name %></th>
      <th scope="col"><%= t :website %></th>
      <th scope="col"><%= t :phone %></th>
      <th scope="col"><%= t :email %></th>
      <th scope="col"><%= t :actions %></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.id %></td>
        <td><%= provider.name %></td>
        <td><%= provider.url %></td>
        <td><%= provider.phone %></td>
        <td><%= provider.email %></td>
        <td><%= link_to 'Show', provider %> | <%= link_to 'Edit', edit_provider_path(provider) %> | <%= link_to 'Destroy', provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Provider', new_provider_path %>
