<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2><%= t :providers_information %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label><%= t :name %></label>
    </div>
    <div class="col-6">
      <%= @provider.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label><%= t :website %></label>
    </div>
    <div class="col-6">
      <%= @provider.url %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label><%= t :email %></label>
    </div>
    <div class="col-6">
      <%= @provider.email %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label><%= t :phone %></label>
    </div>
    <div class="col-6">
      <%= @provider.phone %>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
