<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-signin", method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal"><%= t :edit_user_info %></h1>
    <p><%= t :edit_user_info_message %></p>
  </div>

  <div class="form-label-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", type: "email", class: "form-control", placeholder: I18n.t(:email_placeholder), required: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t :waiting_confirmation_message %>: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-label-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control", placeholder: I18n.t(:first_name_placeholder), required: true %>
  </div>

  <div class="form-label-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control", placeholder: I18n.t(:last_name_placeholder), required: true %>
  </div>

  <div class="form-label-group">
    <%= f.label :phone %><br />
    <%= f.telephone_field :phone, autofocus: true, autocomplete: "phone", class: "form-control", placeholder: I18n.t(:phone_placeholder), required: true %>
  </div>

  <div class="form-label-group">
    <%= f.label :current_password %> <i><%= t :need_password_to_change_message %></i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <button name="commit" class="btn btn-lg btn-primary btn-block" type="submit"><%= t :update %></button>
  </div>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-signin", method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal"><%= t :change_password_info %></h1>
    <p><%= t :change_password_info_message %></p>
  </div>

  <div class="form-label-group">
    <%= f.label :current_password %> <i><%= t :need_password_to_change_message %></i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="form-label-group">
    <%= f.label :password %>
    <br />
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, type: "password", class: "form-control", placeholder: I18n.t(:password_placeholder), required: true, autocomplete: "new-password" %>
  </div>

  <div class="form-label-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, type: "password", class: "form-control", placeholder: I18n.t(:password_placeholder), required: true, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <button name="commit" class="btn btn-lg btn-primary btn-block" type="submit"><%= t :change_password_button %></button>
  </div>
<% end %>

<div class="form-signin">
  <h3><%= t :cancel_my_account %></h3>

  <p><%= t :cancel_my_account_message %> <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-lg btn-danger btn-block", data: { confirm: I18n.t("sure_question") }, method: :delete %></p>
</div>
