<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {:class => 'form-signin'}) do |f| %>
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal"><%= t :sign_up %></h1>
    <p><%= t :sign_up_message %></p>
  </div>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-label-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", type: "email", class: "form-control", placeholder: I18n.t(:email_placeholder), required: true %>
  </div>

  <div class="form-label-group">
    <%= f.label :password %>
    <br />
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, type: "password", class: "form-control", placeholder: I18n.t(:password_placeholder), required: true, autocomplete: "new-password" %>
  </div>

  <div class="form-label-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, type: "password", class: "form-control", placeholder: I18n.t(:password_placeholder), required: true, autocomplete: "new-password" %>
  </div>

  <div class="form-label-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control", placeholder: I18n.t(:first_name_placeholder), required: true %>
  </div>

  <div class="form-label-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control", placeholder: I18n.t(:last_name_placeholder), required: true %>
  </div>

  <div class="form-label-group">
    <%= f.label :phone %><br />
    <%= f.telephone_field :phone, autofocus: true, autocomplete: "phone", class: "form-control", placeholder: I18n.t(:phone_placeholder), required: true %>
  </div>

  <div class="actions">
    <button name="commit" class="btn btn-lg btn-primary btn-block" type="submit"><%= t :sign_up %></button>
  </div>

  <div class="row">
    <div class="col-6 d-flex justify-content-center">
      <a href="/users/password/new" class="btn btn-outline-dark" role="button"><%= t :forgot_password %></a>
    </div>
    <div class="col-6 d-flex justify-content-center">
      <a href="/users/sign_in" class="btn btn-outline-dark" role="button"><%= t :log_in %></a>
    </div>
  </div>
<% end %>
