<p id="notice"><%= notice %></p>

<h1><%= t :invoices %></h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t :created_at %></th>
      <th scope="col"><%= t :user %></th>
      <th scope="col"><%= t :round %></th>
      <th scope="col"><%= t :total %></th>
      <th scope="col"><%= t :CSV %></th>
      <th scope="col"><%= t :actions %></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.id %></td>
        <td><%= invoice.created_at %></td>
        <td><%= link_to invoice.user.name, invoice.user %></td>
        <td><%= link_to invoice.round.id, invoice.round %></td>
        <td><%= invoice.total %></td>
        <td><%= link_to I18n.t(:download), "/invoices/#{invoice.id}/download" %></td>
        <td><%= link_to 'Show', invoice %> | <%= link_to 'Edit', edit_invoice_path(invoice) %> | <%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
