<%= form_with(model: round, html: {class: "form-admin"}) do |form| %>
  <% if round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(round.errors.count, "error") %> prohibited this round from being saved:</h2>

      <ul>
        <% round.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-label-group">
    <%= form.label :start_at %><br />
    <div class="input-group date" id="datetimepicker_start_at" data-target-input="nearest">
      <%= form.datetime_local_field :start_at, class: "form-control datetimepicker-input", required: true, data:{ provide:'datetimepicker_start_at' } %>
      <div class="input-group-append" data-target="#datetimepicker_start_at" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>

  <div class="form-label-group">
    <%= form.label :freeze_at %><br />
    <div class="input-group date" id="datetimepicker_freeze_at" data-target-input="nearest">
      <%= form.datetime_local_field :freeze_at, class: "form-control datetimepicker-input", required: true, data:{ provide:'datetimepicker_freeze_at' } %>
      <div class="input-group-append" data-target="#datetimepicker_freeze_at" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>

  <div class="form-label-group">
    <%= form.label :end_at %><br />
    <div class="input-group date" id="datetimepicker_end_at" data-target-input="nearest">
      <%= form.datetime_local_field :end_at, class: "form-control datetimepicker-input", required: true, data:{ provide:'datetimepicker_end_at' } %>
      <div class="input-group-append" data-target="#datetimepicker_end_at" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker_start_at').datetimepicker({
          format: 'DD/MM/YYYY',
          locale: 'en'
        });

        $('#datetimepicker_freeze_at').datetimepicker({
            useCurrent: false,
            format: 'DD/MM/YYYY',
            locale: 'en'
        });
        $('#datetimepicker_end_at').datetimepicker({
            useCurrent: false,
            format: 'DD/MM/YYYY',
            locale: 'en'
        });

        $("#datetimepicker_start_at").on("change.datetimepicker", function (e) {
            $('#datetimepicker_end_at').datetimepicker('minDate', e.date);
            $('#datetimepicker_freeze_at').datetimepicker('minDate', e.date);

        });

        $("#datetimepicker_freeze_at").on("change.datetimepicker", function (e) {
            $('#datetimepicker_start_at').datetimepicker('maxDate', e.date);
            $('#datetimepicker_end_at').datetimepicker('minDate', e.date);

        });

        $("#datetimepicker_end_at").on("change.datetimepicker", function (e) {
            $('#datetimepicker_start_at').datetimepicker('maxDate', e.date);
            $('#datetimepicker_freeze_at').datetimepicker('maxDate', e.date);
        });
    });
</script>


  <div class="actions">
    <%= form.submit(class: "btn btn-lg btn-primary btn-block") %>
  </div>
<% end %>
