<p id="notice"><%= notice %></p>

<h1><%= t :rounds %></h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t :start_at %></th>
      <th scope="col"><%= t :freeze_at %></th>
      <th scope="col"><%= t :end_at %></th>
      <th scope="col"><%= t :actions %></th>
    </tr>
  </thead>

  <tbody>
    <% @rounds.each do |round| %>
      <tr>
        <td><%= round.id %></td>
        <td><%= round.start_at %></td>
        <td><%= round.freeze_at %></td>
        <td><%= round.end_at %></td>
        <td><%= link_to 'Show', round %> | <%= link_to 'Edit', edit_round_path(round) %> | <%= link_to 'Destroy', round, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Round', new_round_path %>
