<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2><%= t :round_information %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label><%= t :start_at %></label>
    </div>
    <div class="col-6">
      <%= @round.start_at %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label><%= t :freeze_at %></label>
    </div>
    <div class="col-6">
      <%= @round.freeze_at %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label><%= t :end_at %></label>
    </div>
    <div class="col-6">
      <%= @round.end_at %>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_round_path(@round) %> |
<%= link_to 'Back', rounds_path %>
