<%= form_with(model: user, html: {class: "form-admin"}) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-label-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", type: "email", class: "form-control", placeholder: I18n.t(:email_placeholder), required: true %>
  </div>

  <div class="form-label-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control", placeholder: I18n.t(:first_name_placeholder), required: true %>
  </div>

  <div class="form-label-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control", placeholder: I18n.t(:last_name_placeholder), required: true %>
  </div>

  <div class="form-label-group">
    <%= f.label :phone %><br />
    <%= f.telephone_field :phone, autofocus: true, autocomplete: "phone", class: "form-control", placeholder: I18n.t(:phone_placeholder), required: true %>
  </div>

  <div class="actions">
    <%= f.submit(class: "btn btn-lg btn-primary btn-block") %>
  </div>
<% end %>
