<p id="notice"><%= notice %></p>

<h1><%= t :users %></h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t :first_name %></th>
      <th scope="col"><%= t :last_name %></th>
      <th scope="col"><%= t :phone %></th>
      <th scope="col"><%= t :email %></th>
      <th scope="col"><%= t :validated %></th>
      <th scope="col"><%= t :admin %></th>
      <th scope="col"><%= t :actions %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.phone %></td>
        <td><%= user.email %></td>
        <td>
          <% if user.validated %>
            <%= t :yes %> | <%= link_to I18n.t(:remove_validation), "/users/"+user.id.to_s+"/validate", method: :put, data: { confirm: I18n.t(:sure_question) } %>
          <% else %>
            <%= t :no %> | <%= link_to I18n.t(:validate), "/users/"+user.id.to_s+"/validate", method: :put, data: { confirm: I18n.t(:sure_question) } %>
          <% end %>
        </td>
        <td>
          <% if user.has_role? :admin %>
            <%= t :yes %> | <%= link_to I18n.t(:remove_admin), "/users/"+user.id.to_s+"/make_admin", method: :put, data: { confirm: I18n.t(:sure_question) } %>
          <% else %>
            <%= t :no %> | <%= link_to I18n.t(:make_admin), "/users/"+user.id.to_s+"/make_admin", method: :put, data: { confirm: I18n.t(:sure_question) } %>
          <% end %>
        </td>
        <td><%= link_to 'Show', user %> | <%= link_to 'Edit', edit_user_path(user) %> | <%= link_to 'Destroy', user, method: :delete, data: { confirm: I18n.t(:sure_question) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to I18n.t(:new_user), new_user_path %> | <%= link_to I18n.t(:reset_validation), "/users/reset_validation", method: :put, data: { confirm: I18n.t(:sure_question) } %>
