<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: "form-signin", method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal"><%= t :change_password_info %></h1>
    <p><%= t :change_password_info_message %></p>
  </div>

  <div class="form-label-group">
    <%= f.label :password %>
    <br />
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, type: "password", class: "form-control", placeholder: I18n.t(:password_placeholder), required: true, autocomplete: "new-password" %>
  </div>

  <div class="form-label-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, type: "password", class: "form-control", placeholder: I18n.t(:password_placeholder), required: true, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <button name="commit" class="btn btn-lg btn-primary btn-block" type="submit"><%= t :change_password_button %></button>
  </div>

<% end %>

<%= render "devise/shared/links" %>
