<%= form_for(resource, as: resource_name, url: password_path(resource_name),  html: {method: :post, class: 'form-signin'}) do |f| %>
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal"><%= t :forgot_password %></h1>
    <p><%= t :forgot_password_message %></p>
  </div>

  <div class="form-label-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", type: "email", class: "form-control", placeholder: I18n.t(:email_placeholder) %>
  </div>

  <div class="actions">
    <button name="commit" class="btn btn-primary btn-block" type="submit"><%= t :forgot_password_commit %></button>
  </div>

  <div class="row">
    <div class="col-6 d-flex justify-content-center">
      <a href="/users/sign_in" class="btn btn-outline-dark" role="button"><%= :log_in %></a>
    </div>
    <div class="col-6 d-flex justify-content-center">
      <a href="/users/sign_up" class="btn btn-outline-dark" role="button"><%= :sign_up %></a>
    </div>
  </div>
<% end %>
