<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= Category.all.each do |category| %>
    <fieldset>
      <legend><%= category.name %>:</legend>
      <div class="row">
        <div class="col-2">
          <%= t :product %>
        </div>
        <div class="col-2">
          <%= t :quantity %>
        </div>
        <div class="col-2">
          <%= t :price %>
        </div>
        <div class="col-3">
          <%= t :action %>
        </div>
      </div>
      <%= form.fields_for :products do |products_form| %>
        <%= render "product_fields", f: products_form %>
      <% end %>
      <%= link_to_add_fields "Add product", form, :products %>
    </fieldset>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
