<div class="nested-fields row">
    <%= f.hidden_field :_destroy %>
    <div class="col-6">
      <%= form.collection_select :provider_id, Product.where(category: @category).order(:name), :id, :name, {}, {:class => "custom-select d-block w-100"} %>
    </div>
    <div class="col-3">
        <%= f.number_field :quantity %>
    </div>
    <div class="col-3">
        <%= link_to "Remove", '#', class: "remove_fields" %>
    </div>
</div>
