<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t :product %></th>
      <th scope="col"><%= t :quantity %></th>
      <th scope="col"><%= t :price %></th>
      <th scope="col"><%= t :category %></th>
      <th scope="col"><%= t :actions %></th>
    </tr>
  </thead>

  <tbody>
    <% @order.order_items.order(:category).each do |item| %>
      <tr>
        <td><%= item.product.id %></td>
        <td><%= item.product.quantity %> <%= item.product.unit %></td>
        <td><%= item.product.quantity * item.product.price %></td>
        <td><%= item.category %></td>
        <td><%= link_to I18n.t(:remove), "/orders/#{@order.id}/remove", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
