<%= form_for(resource, as: resource_name, url: session_path(resource_name),  html: {:class => 'form-signin'}) do |f| %>
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal"><%= t :log_in %></h1>
    <p><%= t :log_in_message %></p>
  </div>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-label-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", type: "email", class: "form-control", placeholder: I18n.t(:email_placeholder) %>
  </div>

  <div class="form-label-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", type: "password", class: "form-control", placeholder: I18n.t(:password_placeholder), required: true %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="checkbox mb-3">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <button name="commit" class="btn btn-lg btn-primary btn-block" type="submit"><%= t :log_in %></button>
  </div>

  <div class="row">
    <div class="col-6 d-flex justify-content-center">
      <a href="/users/password/new" class="btn btn-outline-dark" role="button"><%= t :forgot_password %></a>
    </div>
    <div class="col-6 d-flex justify-content-center">
      <a href="/users/sign_up" class="btn btn-outline-dark" role="button"><%= t :sign_up %></a>
    </div>
  </div>
<% end %>
