<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row">
    <div class="col-12">
      <h2><%= t :categories_information %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label><%= t :name %></label>
    </div>
    <div class="col-6">
      <%= @category.name %>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
