<div class="nested-fields row">
    <%= f.hidden_field :_destroy %>
    <div class="col-2">
        <%= f.text_field :cat_nb %>
    </div>
    <div class="col-2">
        <%= f.number_field :quantity %>
    </div>
    <div class="col-3">
      <%= f.select :unit, [[I18n.t(:grams), "g"], [I18n.t(:kilograms), "Kg"], [I18n.t(:liters), "l"], [I18n.t(:mililiters), "ml"]], {}, {:class => "custom-select d-block w-100"} %>
      <div class="invalid-feedback">
        <%= t :unit_not_valid %>
      </div>
    </div>
    <div class="col-2">
        <%= f.number_field :price, step: 0.01 %>
    </div>
    <div class="col-3">
        <%= link_to "Remove", '#', class: "remove_fields" %>
    </div>
</div>
