<%= form_with(model: product, html: {class: "form-admin"}, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-label-group">
    <%= form.label :name %><br />
    <%= form.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", required: true %>
  </div>

  <div class="form-label-group">
    <%= form.label :provider %><br />
    <%= form.collection_select :provider_id, Provider.order(:name), :id, :name, {}, {:class => "custom-select d-block w-100"} %>
  </div>

  <div class="form-label-group">
    <%= form.label :category %><br />
    <%= form.collection_select :category_id, Category.order(:name), :id, :name, {}, {:class => "custom-select d-block w-100"} %>
  </div>

  <div class="form-label-group">
    <%= form.label :price %><br />
    <%= form.number_field :price, autofocus: true, autocomplete: "price", class: "form-control", required: true %>
  </div>

  <div class="form-label-group">
    <%= form.label :unit %><br />
    <%= form.select :unit, get_units_select(), {}, {:class => "custom-select d-block w-100"} %>
  </div>

  <div class="form-label-group">
    <%= form.label :min_quantity %><br />
    <%= form.number_field :min_quantity, autofocus: true, autocomplete: "price", class: "form-control", required: true %>
  </div>

  <fieldset>
    <legend><%= t :conditionings %>:</legend>
    <div class="row">
      <div class="col-2">
        <%= t :cat_nb %>
      </div>
      <div class="col-2">
        <%= t :quantity %>
      </div>
      <div class="col-3">
        <%= t :unit %>
      </div>
      <div class="col-2">
        <%= t :price %>
      </div>
      <div class="col-3">
        <%= t :action %>
      </div>
    </div>
    <%= form.fields_for :conditionings do |conditionings_form| %>
      <%= render "conditioning_fields", f: conditionings_form %>
    <% end %>
    <%= link_to_add_fields "Add conditioning", form, :conditionings %>
  </fieldset>

  <div class="actions">
    <%= form.submit(class: "btn btn-lg btn-primary btn-block") %>
  </div>
<% end %>
