<p id="notice"><%= notice %></p>

<h1><%= t :products %></h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t :name %></th>
      <th scope="col"><%= t :provider %></th>
      <th scope="col"><%= t :price %></th>
      <th scope="col"><%= t :min_quantity %></th>
      <th scope="col"><%= t :actions %></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.provider.name %></td>
        <td><%= product.price %> <%= t :per %> <%= product.unit %></td>
        <td><%= product.min_quantity %> <%= product.unit %></td>
        <td><%= link_to 'Show', product %> | <%= link_to 'Edit', edit_product_path(product) %> | <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
