<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2><%= t :product_information %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label><%= t :name %></label>
    </div>
    <div class="col-6">
      <%= @product.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label><%= t :provider %></label>
    </div>
    <div class="col-6">
      <%= @product.provider.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label><%= t :price %></label>
    </div>
    <div class="col-6">
      <%= @product.price %> <%= t :currency %> per <%= @product.unit %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label><%= t :min_quantity %></label>
    </div>
    <div class="col-6">
      <%= @product.min_quantity %> <%= @product.unit %>
    </div>
  </div>
</div>

<% if @product.conditionings.count == 0 %>
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="text-danger"><%= t :please_add_conditioning_error %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <a class="btn btn-danger" href=<%= "/products/" + @product.id.to_s + "/edit"%>><%= t :add %></a>
    </div>
  </div>
<% end %>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><%= t :price %></td>
      <th scope="col"><%= t :quantity %></td>
      <th scope="col"><%= t :unit %></td>
    </tr>
  </thead>
  <tbody>
  <% @product.conditionings.each do |conditioning| %>
    <tr>
      <td><%= conditioning.price %></td>
      <td><%= conditioning.quantity %></td>
      <td><%= conditioning.unit %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
