<!DOCTYPE html>
<html>
  <head>
    <title>GroupmentAchat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/"><%= t :navbar%></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"><%= t :home%> <span class="sr-only">(<%= t :current%>)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/orders"><%= t :my_orders%></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about"><%= t :about%></a>
            </li>
            <% if current_user && current_user.is_admin %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t :admin%></a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="/users"><%= t :members%></a>
                  <a class="dropdown-item" href="/providers"><%= t :providers%></a>
                  <a class="dropdown-item" href="/products"><%= t :products%></a>
                  <a class="dropdown-item" href="/categories"><%= t :categories%></a>
                  <a class="dropdown-item" href="/orders"><%= t :current_orders%></a>
                  <a class="dropdown-item" href="/rounds"><%= t :rounds%></a>
                  <a class="dropdown-item" href="/invoices"><%= t :invoices%></a>
                </div>
              </li>
            <% end %>
          </ul>
          <% unless current_user %>
            <a class="btn btn-outline-primary btn-lg" href="/users/sign_in" role="button"><%= t :log_in%></a>
            <a class="btn btn-primary btn-lg" href="/users/sign_up" role="button"><%= t :sign_up%></a>
          <% else %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.name %></a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="/users/edit"><%= t :settings%></a>
              </div>
            </li>
            <a class="btn btn-outline-secondary btn-lg" href="/users/sign_out" role="button"><%= t :log_out%></a>
          <% end %>
        </div>
      </nav>

      <main role="main">

        <%= javascript_pack_tag 'index' %>

        <%= yield %>

      </main>

      <footer class="container">
        <p>© Company 2017-2018</p>
      </footer>


    </body>
</html>
