<% flash.each do |type, msg| %>
  <% if type == :notice %>
    <div class="ui message notice">
      <div class="header">
        <%= t :notice %>
      </div>
      <p><%= msg %></p>
    </div>
  <% elseif type == :alert %>
    <div class="ui message alert">
      <div class="header">
        <%= t :alert %>
      </div>
      <p><%= msg %></p>
    </div>
  <% else %>
    <div class="ui message error">
      <div class="header">
        <%= t :error %>
      </div>
      <p><%= msg %></p>
    </div>
  <% end %>
<% end %>

Following Menu -->
<!-- <div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item"><%= t :home%></a>
    <a class="item"><%= t :my_orders%></a>
    <a class="item"><%= t :about%></a>
    <% if current_user.is_admin %>
      <a class="item"><%= t :members%></a>
      <a class="item"><%= t :providers%></a>
      <a class="item"><%= t :products%></a>
      <a class="item"><%= t :current_orders%></a>
      <a class="item"><%= t :rounds%></a>
    <% end %>
    <% unless current_user %>
      <div class="right menu">
        <div class="item">
          <a class="ui button"><%= t :log_in%></a>
        </div>
        <div class="item">
          <a class="ui primary button"><%= t :sign_up%></a>
        </div>
      </div>
    <% end %>
  </div>
</div>
